@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --f-all: "Host Grotesk", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background-color: rgb(16,16,16);
}

/* MAIN PRARENT CONTAINER */

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
}

/* MUSIC PLAYER CONTROLS CONTAINER */

.music-player-controls-container {
    width: 300px;
    height: 330px;
    background-color: rgb(18,18,18);
    border: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 8px;
    border-radius: 0.8rem 0.8rem 0 0;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 8px;
}

/* MUSIC PLAYER CONTROLS CONTAINER TEXT */

.music-player-controls-container-text {
    background-color: rgb(22,22,22);
    color: white;
    padding-block: 10px;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    border-top: 1px solid rgba(255,255,255,0.05);
    border-left: 1px solid rgba(255,255,255,0.01);
    border-right: 1px solid rgba(255,255,255,0.01);
    border-bottom: 1px solid rgba(255,255,255,0.02);
}

/* MUSIC PLAYER CONTROLS THEMSELVES */

.music-player-controls-themselves {
    border-radius: 0.5rem;
    background: url(./assets/controls-bg.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.music-player-controls-themselves::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(circle at 50% 50%, transparent, rgba(0, 0, 0, 0.573));
}

/* MUSIC PLAYER CONTROLS */

.music-player-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* MUSIC PLAYER CONTROL */

.music-player-control {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    border-radius: 0.5rem;
    border: 0;
    border: 1px dashed rgba(0, 0, 0, 0);
    background-color: transparent;
    cursor: pointer;
}

.music-player-control-svg {
    color: white;
    width: 30px;
    height: 30px;
}

/* MUSIC PLAYER MUSIC LIST CONTAINER */

.music-player-music-list-container {
    padding: 8px;
    width: 300px;
    height: 330px;
    overflow: auto;
    background-color: rgb(20,20,20);
    border: 1px solid rgba(255,255,255,0.05);
    border-top: none;
    border-radius: 0 0 0.8rem 0.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.music-player-music-list-container::-webkit-scrollbar {
    width: 2px;
}

.music-player-music-list-container::-webkit-scrollbar-thumb{
    background-color: rgb(34, 34, 34);
}

.music-player-music-itself-divider {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.05);
}

.music-player-music-itself {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 10px;
    padding-block: 8px;
    padding-inline: 15px 10px;
    border-radius: 0.5rem;
}

.music-player-music-itself-active {
    background-color: rgb(24,24,24);
    border-top: 1px solid rgba(255,255,255,0.03);
    border-bottom: 1px solid rgba(255,255,255,0.01);
}

.music-player-music-itself-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    font-size: 0.9rem;
    cursor: pointer;
}

.music-player-music-itself-name {
    color: white;
    font-weight: 200;
}

.music-player-music-itself-author-name {
    color: white;
    font-weight: 300;
    width: 20%;
}

.music-player-music-itself-remove-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.02);
    cursor: pointer;
}

.music-player-music-itself-remove-button-svg {
    width: 16px;
    height: 16px;
    color: white;
}

.music-player-music-itself-remove-button:hover {
    background-color: red;
}